In [1]:
from torch_smodel import *

# 1. Integrity MonteCarlo outcomes in our class

In [3]:
grid = Grid(N=11, K=10)
grid.__param__()
grid.MonteCarlo()
grid.df_MC

       Theta Quadrant        Xi       Rho    m Susceptibles Infecteds   Deads
0        0.0      0.0       0.0       0.0  0.0        120.0       1.0     0.0
1   3.448297      3.0  0.306704  0.791725  2.0      117.179     2.821     1.0
2   4.493667      3.0  1.352074  0.528895  2.0      111.649      5.53   3.821
3   3.787274      3.0  0.645681  0.568045  2.0      100.279     11.37   9.351
4   3.423602      3.0  0.282009  0.925597  3.0       94.044     6.235  20.721
5   2.661902      2.0  0.479691  0.071036  0.0       92.665     1.379  26.956
6   4.058272      3.0   0.91668  0.087129  0.0       91.661     1.004  28.335
7   2.749442      2.0  0.392151  0.020218  0.0       90.737     0.924  29.339
8   5.603175      4.0   0.68001   0.83262  2.0       89.209     1.528  30.263
9   6.054872      4.0  0.228314  0.778157  2.0       87.685     1.524  31.791
10  2.409234      2.0  0.732359  0.870012  2.0       85.354     2.331  33.315

In [3]:
torch.sum(grid.X0[:,:,-1])

tensor(85.3480, dtype=torch.float64)

In [4]:
data = grid.dataMC.copy()

# 2. Outcomes using SpreadModel

In [5]:
columnas = ['Theta', 'Quadrant', 'Rho', 'm', 'Susceptibles', 'Infecteds', 'Deads']
K = 10
df = pd.DataFrame(torch.zeros(K + 1, len(columnas), dtype=torch.float64),
                                  columns= columnas
                                  )

In [6]:
n = 10**3
for s in range(n):
    _, __, df_aux = SpreadModel(seed_value=s ,N=11, K=10, input=True, data=data)
    df += df_aux
df = df/n
df

   Theta Quadrant  Rho    m Susceptibles Infecteds   Deads
0    0.0      0.0  0.0  0.0        120.0       1.0     0.0
1    NaN      NaN  NaN  NaN      117.163     2.837     1.0
2    NaN      NaN  NaN  NaN      111.618     5.545   3.837
3    NaN      NaN  NaN  NaN      100.103    11.515   9.382
4    NaN      NaN  NaN  NaN       93.776     6.327  20.897
5    NaN      NaN  NaN  NaN       92.421     1.355  27.224
6    NaN      NaN  NaN  NaN       91.463     0.958  28.579
7    NaN      NaN  NaN  NaN       90.555     0.908  29.537
8    NaN      NaN  NaN  NaN        89.06     1.495  30.445
9    NaN      NaN  NaN  NaN       87.556     1.504   31.94
10   NaN      NaN  NaN  NaN       85.348     2.208  33.444