In [1]:
from torch_smodel import *

# 1. Integrity MonteCarlo outcomes in our class

In [2]:
grid = Grid(N=11)
grid.__param__()
grid.MonteCarlo()
grid.df_MC

       Theta Quadrant       Rho    m  Susceptibles  Infecteds   Deads
0        NaN      NaN       NaN  NaN       120.000      1.000   0.000
1   3.448297      3.0  0.791725  2.0       116.391      3.609   1.000
2   4.493667      3.0  0.528895  2.0       108.905      7.486   4.609
3   3.787274      3.0  0.568045  2.0        96.181     12.724  12.095
4   3.423602      3.0  0.925597  3.0        92.891      3.290  24.819
5   2.661902      2.0  0.071036  1.0        92.104      0.787  28.109
6   4.058272      3.0  0.087129  1.0        91.212      0.892  28.896
7   2.749442      2.0  0.020218  1.0        90.077      1.135  29.788
8   5.603175      4.0   0.83262  2.0        88.340      1.737  30.923
9   6.054872      4.0  0.778157  2.0        86.727      1.613  32.660
10  2.409234      2.0  0.870012  2.0        84.587      2.140  34.273

In [3]:
data = grid.dataMC.copy()

In [4]:
torch.sum(grid.X0[:,:,-1])

tensor(84.5870, dtype=torch.float64)

# 2. Outcomes using SpreadModel

In [5]:
columnas = ['Theta', 'Quadrant', 'Rho', 'm', 'Susceptibles', 'Infecteds', 'Deads']
K = 10
df = pd.DataFrame(torch.zeros(K + 1, len(columnas), dtype=torch.float64),
                                  columns= columnas
                                  )

In [6]:
n = 10**3
for s in range(n):
    _, __, df_aux = SpreadModel(seed_value=s ,N=11, K=10, input=True, data=data)
    df += df_aux
df = df/n
df

       Theta Quadrant       Rho    m  Susceptibles  Infecteds   Deads
0        NaN      NaN       NaN  NaN       120.000      1.000   0.000
1   3.448297      3.0  0.791725  2.0       116.391      3.609   1.000
2   4.493667      3.0  0.528895  2.0       108.905      7.486   4.609
3   3.787274      3.0  0.568045  2.0        96.181     12.724  12.095
4   3.423602      3.0  0.925597  3.0        92.891      3.290  24.819
5   2.661902      2.0  0.071036  1.0        92.104      0.787  28.109
6   4.058272      3.0  0.087129  1.0        91.212      0.892  28.896
7   2.749442      2.0  0.020218  1.0        90.077      1.135  29.788
8   5.603175      4.0   0.83262  2.0        88.340      1.737  30.923
9   6.054872      4.0  0.778157  2.0        86.727      1.613  32.660
10  2.409234      2.0  0.870012  2.0        84.587      2.140  34.273